<%= render :partial => 'show_notes_sidebar' unless @no_nav%>
<div id="content" class="span9 about-content">
<div class="row">
    <div class="span9 ">
      <h2><a name="notes">Source Notes</a></h2>
    <p>The following notes accompanied the database originally titled, <a href="http://searchworks.stanford.edu/view/9102178" target="_blank">"From Don to Giovanni: Opera and Oratorio Citation Database"</a>, compiled by Richard Parrillo, and released in 2003. The text was abridged and edited by the Stanford Music Library, 2013.<p>
	</div>
	</div>
	<div class="row">
	<div class="span9">
	<h2><a name="sources">Sources</a></h2>
	<p>This is an attempt to assemble and make accessible in one place every opera and oratorio premiered through 1995.  There is no claim made that this goal has been accomplished, but every work that could be found in published sources, microfilm, and library catalogues is included if it meets the inclusion criteria.</p>

	<p>Initial preparation of this database involved gathering information from the <i>New Grove Dictionary of Music and Musicians,</i> Franz Stieger's <i>Opernlexicon,</i> Clemens Grüber's <i>Opern-Uraufführungen,</i> Pipers <i>Enzyklopädie des Musiktheaters,</i> and Kurt Gänzl's <i>The British Musical Theatre</i> and <i>The Encyclopedia of the Musical Theatre.</i></p>

	<p>With the exception of Stieger, all of these sources are highly selective -- to indicate how selective, one of the two most prolific operetta composers, Frédéric-Étienne Barbier, is found only in the <i>Opernlexicon.</i></p>

<p>This database is not a biographical resource. There are many sources ranging from abysmal to excellent in which one can find biographical data for a portion of the names on the list.  No single source has them all.</p>

<p>Likewise, this is not the place to look for plot synopses, cast lists, set designers, directors, discographies, or critical analysis.  This is a cross-index only.</p>

<p>Some deficiencies to note are:</p>

<p>1.  For whatever reason, Grove made an editorial decision to include only first initials for librettists.  This inexplicable policy creates enormous difficulties and confusion.</p>

<p>2.  Stieger's <i>Opernlexicon</i> is an offset printing of an unedited typed manuscript prepared presumably years earlier.  Countless typographical errors and misspellings necessitate extensive cross checking before the data can be used with any degree of confidence.  Most troublesome are several instances of the transposition of the librettist with the composer plus the garbling of names and titles.</p>

<p>However, even with these limitations and the dated nature of his material, Stieger remains the most complete printed catalogue on the subject.  A later effort, <i>The Mellen Guide,</i> adds little to Stieger except for obscure American opera where it often proves useful, although frequently unreliable.</p>

<p>3.  Grüber lists only German opera, not operetta, and lacks any theater information, with the exception of broadcast premieres.</p>

<p>As stated, these sources were the basic template from which to begin.  However, a few steps remained before reaching what you are using at this moment.  Many works not found in any of the above but which were found in sources ranging from <i>Musical America</i> to monographs, libretti catalogues, library catalogues, theatrical histories, and the <i>Central Opera Service Bulletin</i> are included.</p>

<p>Among theatrical histories, four that proved particularly useful are <i>The London Stage 1660-1800</i> (Southern Illinois University Press, Carbondale, 1960-68, 14 vols.), George C. D. Odell <i>Annals of the New York Stage</i> (Columbia University Press, New York, 1927-49, 15 vols.), J. P. Wearing <i>The London Stage 1890-1959</i> (The Scarecrow Press, Metuchen, New Jersey, 1976-93, 16 vols.), and Richard C. Norton <i>A Chronology of American Musical Theater</i> (Oxford University Press, New York, 2002, 3 vols.).</p>

<p>Finding librettist names was a multi-year effort involving endless hours with printed sources, microfilm, the web-based union catalogues for the United Kingdom as well as the Library of Congress.  Other on-line resources used include WorldCat, the New York Public Library, the Canadian Music Centre, the Australian Music Centre, and the Finnish Music Information Centre.  And, of course, Google has proved invaluable, and on-line catalogues of national libraries in Austria, Belgium, Brazil, Canada, the Czech Republic, Denmark, Estonia, Germany, Italy, France, Ireland, the Netherlands, Poland, Portugal, Spain, Sweden, and Switzerland.</p>

<p>If you find discrepancies from Grove, Stieger, the Mellen Guide, or other printed sources, the invariable rule of thumb was to always grant final authority to an existing libretto or contemporary source, not to any secondary reference.</p>

<p>The original release of this database in 2003 contained every work termed an oratorio found in Grove, and the online catalogues of the Library of Congress, the British Library, the Bibliothèque nationale de France, the union catalogues for Germany and Italy, and the national libraries of Denmark, Sweden, Spain, Portugal, Belgium, the Netherlands, Poland, the Czech Republic, Brazil, etc.</p>

<p>This current version is basically the same list but with hundreds of blanks filled in. This has been made possible by Google and the unique access it provides to items such as obituaries and contemporary journals.</p>

<p>An excellent example of the information that can only be found using Google is the composer Cornelius Ward.  The British Library has a copy of his <i>The Prodigal Son</i> and assigns it a date of 1889. Thanks to the local historical society of Buckinghamshire one can discover that Ward was a carpenter who was for many years active musically with his local church in Speen.  The society has in their possession an 1869 invoice from Novello to Ward.  This receipt plus the fact that he was 73 years old in 1889 makes it obvious that the British Library date is wrong. If he paid the printing costs in 1869 out of his carpenter's wages, it must have been for a performance of his work done at that time in his church.</p>

<p>This type of information repeated hundreds of times is what differentiates this revision from its predecessor.</p>
</div>
</div>

<div class="row">
    <div class="span9">
      <h2><a name="personal">Personal Names</a></h2>

<p>Brackets [  ] contain the real name of composers, librettists, co-librettists, and sources.  The name outside the brackets is the <i>nom de plume.</i></p>

<p>The real name is always included regardless of how well known or not the person might be, with one exception.  Therefore, proper names are included for Molière, Voltaire, and Novalis as well as other less familiar examples such as C. A. Blengini and E. A. Mario. The exception is Auguste Lepoitevin de Légreville Saint-Alme, a pseudonym for Prosper Viellerglé and Aurore Cloteaux. Space prevented entering their names.</p>

<p>Certain conventions should be noted.  The real name is always separated from the <i>nom de plume</i> by brackets, even in cases where the usual practice is to simply hyphenate both names.</p>

<p>If the <i>nom de plume</i> is used exclusively, then the name is alphabetized by it, not the person's proper name.  However, if both names are used at different times, then the person will be found alphabetically under the real last name and the <i>nom de plume</i> will be the next name on the list.  For example, the name immediately following Carlo Goldoni is [Carlo Goldoni] Polisseno Fegeio and that after Arrigo Boito, [Arrigo Boito] Tobia Gorrio.</p>

<p>[Paul Schmitz] Dominik Müller does not appear next to Paul Schmitz because they are different persons.</p>

<p>As for the extravagant use of <i>noms de plume</i> and stage names in France, this is partially explained by the disrepute in which theatrical activity was held.  During the Ancien Regime, it should be remembered that anyone associated with the theater, including the Opéra, could be denied a Church burial.</p>

<p>In equally Catholic Italy, aside from Arcadian names and Domenico Lalli, pseudonyms were virtually never used during the same period, and in another Catholic country, Austria, they were nearly unknown prior to the rise of operetta in the latter part of the nineteenth century.</p>

<p>When a name is enclosed in brackets [  ], this is the person's real name.  The name outside the brackets is the <i>nom de plume.</i></p>

<p>To maintain consistency, this database always includes the real name, no matter how famous the person might be.  While everyone would know Voltaire, perhaps names as familiar to Americans as Mark Twain or O. Henry might be unfamiliar elsewhere.</p>

<p>Certainly there are names that every Ukrainian would know, such as Shevchenko, but which are little known elsewhere.  To assume that the world standard of literacy is set by the United States or any other country is somewhat presumptuous.  The standards of literacy are set within each country's borders. </p>

<p>Therefore, if a name is known to be a <i>nom de plume,</i> there will be a name before it enclosed in brackets. If ___ is shown as a first name, this obviously indicates that the name is unknown. Caution is recommended in any attempt to fill in these blanks.</p>

<p>Adaptations from screenplays offer nearly insurmountable difficulties in identifying librettists.  A good example is <i>Dáma a lupici</i> by Ilja Hurník, premiered in Plzen in 1966.  Grove gives W. Rose as the source. A decade of scouring every literary dictionary and library catalogue available found nothing for this person.  The solution was found quite by accident when viewing my personal DVD copy of the 1955 Ealing Studios comedy, <i>The Ladykillers,</i> directed by Alexander Mackendrick starring Alec Guinness, Cecil Parker, Herbert Lom, and Peter Sellers, and it suddenly dawned on me that the screenplay by William Rose was borrowed by Hurník. Without knowing this film, it would be impossible to ever fill in the missing librettist first name found in Grove.</p>

<p>Another cinematic connection is a Philip Glass opera composed for an existing 50 year old film, <i>Beauty and the Beast,</i> written and directed by Jean Cocteau in 1946 starring Jean Marais and Josette Day.  The film with an optional audio track containing the opera is available from the Criterion Collection and happens, like <i>The Ladykillers,</i> to be included in my personal DVD collection. Despite my actually owning the opera in question, it is not included in the database.  Its composition falls outside the 1995 limit for all entries and, more importantly, since the work only exists as a movie soundtrack, it does not meet the premiere requirements set for the database.</p>

<p>Finding the full names for librettists and co-librettists is an often impossible task, particularly given the fact that no literary history even acknowledges the existence of opera libretti.  With a total of 13657 names included in both categories in the present database, of which ninety-five percent includes first names instead of the customary first initials only, the chances are good that you will find the one you are looking for.</p>

<p>Full librettist and source names are given even when the person used only initials, such as W. S. Gilbert, W. H. Auden, E. M. Forster, or B. Lebreton.  First initials mean that the name or names were not found.</p>

<p>French composers present few difficulties, but in Grove and the database, it is David, not Davide Perez, Paër appears without a dieresis, and Francesco Courcelle and Luigi Manza found in Stieger appear as Francesco Corselli and Luigi Mancia.</p>

<p>Russian names are always problematical.  Tchaikovsky is hardly the only proper name with alternate spellings.  For example, the poet Yevgeny Shvarts can be found in <i>Grove Opera</i> as Jewgeny Schwarz, which comes directly from Grüber without any apparent notice that this source follows German phonetical rules, not English.</p>

<p>Shvarts is a good example of uncritical borrowing from a German source.  Another example of linguistic transliteration is Wanda Wasiliewski, a Pole living in the Ukraine.  Her name properly uses W rather than V, but not when transliterated into Ukrainian, the language of the source used by Grove.  As for Ukrainian names themselves, the interchangeability between the letters G and H can cause problems, notably in the case of Hulak-Artemovsky, spelled Gulak-Artemovsky in Grove and in this database.</p>

<p>It should be noted that the most recent edition of Grove uses Aleksandr instead of Alexander for Russian names, an improvement but one that leads to internal inconsistency between various editions.</p>
</div>
</div>

<div class="row">
    <div class="span9">
      <h2><a name="geo">Geographical Names</a></h2>

<p>The modern name is used for cities, not what was current at the time of a particular premiere.  The two exceptions to this rule are Charlottenburg, which was incorporated into Berlin in the 1920s, and San Pier d'Arena, an industrial suburb now part of Genoa.</p>

<p>The most familiar examples of cities with official name changes are Constantinople/Istanbul and St. Petersburg/Petrograd/Leningrad.</p>

<p>The first is of minor importance to this database, since, prior to Mustafa Kemal Atatürk, Turkish opera was primarily an Italian import for foreign nationals and the upper strata of local society (as in the case of Alexandria) or to a lesser but important extent (in terms of ethnic sensibilities) written for the resident Armenian minority. As for the second example, there were no premieres during the brief Petrograd period and those while the city was named Leningrad are listed in the database under St. Petersburg, its present name.</p>

<p>This should present no problems and, not surprisingly, there were few premieres during the Leningrad period.  A January 28, 1936 <i>Pravda</i> article entitled “Chaos instead of Music” savagely attacked Shostakovich's <i>Ledi Makbet Mtenskogo uyezda</i> (<i>Lady Macbeth from Mtensk</i>) and that experience during the onset of Stalin's Great Terror, followed a dozen years later by attacks on <i>Bohdan Khmel'nyts'ky, Ot vsevo serdtse</i> (<i>From the Whole Heart</i>), and <i>Velikaya druzhba</i> (<i>The Great Friendship</i>), made clear to all that the safest course of action was to avoid the field entirely.</p>

<p>Using modern names facilitates tracing the operatic history of a particular town by looking in one place, rather than by skipping from name to name.  Not only does going from name to name slow down the search, but it presumes you already know the other names for a city.  In the case of St. Petersburg, that would be a safe guess, but the other examples are a bit less obvious.</p>

<p>The main difficulty is remembering that cities such as Breslau, Lemberg, Passau, Troppau, Pressburg, Stettin, Danzig, and Königsberg are no longer German or Austrian.  The only two names which may present minor problems are Pushkin (formerly Tsarskoye Selo) and Lomonsov (Oranienbaum).</p>

<p>A second benefit of using the modern name is that one can generally find the city using a recent atlas.  However, it must be pointed out that some cities found on the list are so small that they appear in no atlas or travel guide, and there are some so obscure that they are not found even in the <i>Columbia Gazetteer,</i> but map coordinates are available for places such as Ober Hambach in a computer printout prepared by the Central Intelligence Agency (US Government Printing Office, 1960).</p>

<p>Spelling conforms to the <i>Rand McNally New International Atlas</i> (25th Anniversary Edition, revised 1998) with the exception of certain major cities.  This is an admitted inconsistency, but it is felt that using the standard English place name is far more convenient for many users and should present little difficulty to non-English speakers.</p>

<p>As in the case of city names, the modern names of all countries are given regardless of what country controlled the territory in question at the moment a particular premiere took place. This is done for sake of consistency and to facilitate a search through the operatic history of a particular region.</p>

<p>A good example is L'viv listed under the Ukraine in the database since that is where it is at the moment.  It has been part of Hungary and for centuries before that was an integral part of Poland, to which it returned between the two World Wars, so were it listed under the country to which it belonged at the time a premiere took place in the city, you would have to look in three places in the database.  Worse still, you would have to know that L'viv was part of those countries and at what periods.</p>

<p>Using the present country name is particularly important in Poland after the Third Partition of 1795.  The aftermath of the First World War and the treaties of Brest-Litovsk and Versailles changed quite a few borders in Central Europe, as did the Soviet takeover of Eastern Europe after the Second World War.  L'viv, just cited, is hardly the only example.  Silesia and Galicia are extremely complicated and intimately connected with the House of Hapsburg and Frederick the Great, but anything premiered in these regions is listed under Poland, Slovakia, or the Ukraine.</p>

<p>To fully understand the fluctuating nature of Central European boundaries requires a good deal of familiarity with history beginning with the Battle of the White Mountain in 1620, but while it helps, it is hardly a prerequisite for using this database.  Using the modern city name and the present country allows one to find a place using any recent atlas without requiring any historical background.</p>

<p>Country borders are not trivial when referring to areas once ruled by the Hapsburgs, which included, besides portions of Poland, Hungary, Ukraine, the Czech Republic, Slovakia, Slovenia, and Croatia, the Grand Duchy of Tuscany and Lombardy.  Considering that prior to Cavour and the rise of Italian nationalism, an educated Milanese would likely have been more comfortable speaking German, it could be argued on cultural as well as political grounds that all of northern Italy with the exception of Piedmont and Venetia should be lumped with Austria for most of the eighteenth century and much of the nineteenth.</p>

<p>Only premieres within its modern post-Cold War boundaries are listed under Germany.  No distinction is made between Bavaria, the small section of East Prussia that remains part of Russia (even after the independence of the Baltic nations), Prussia, Saxony, or any of the minor principalities prior to the unification in 1871.  Premieres in East Prussia, although anyone in attendance would have considered them at the time to be German, are credited to Poland, Lithuania, Latvia, or in the case of Königsberg to Russia. Similarly, Strasbourg is shown in France, despite Alsace-Lorraine being German from the Franco-Prussian War to the end of the First World War.</p>

<p>Were the policy instead to list the name of the country at the moment, then the only choice, depending upon the date, would be to include Turin under the Kingdom of Sardinia, Rome under the Papal States, Brussels under France, or, prior to Brest-Litovsk, Helsinki under Russia.</p> 
</div>
</div>

<div class="row">
    <div class="span9">
      <h2><a name="titles">Titles of Works</a></h2>

<p>Titles are always shown in their original language.  The perhaps half dozen exceptions to this rule are due to the only source reporting these works only giving the titles in English translation.</p>

<p>Translations and subsequent titles for the same work are enclosed in parentheses (  ) and are not part of the proper title. Translations are always enclosed in parentheses (  ) to distinguish them as such.  Also enclosed in parentheses are later titles for the same work.</p>

<p>No attempt has been made to correct grammatical mistakes or to standardize orthography.  With more than 27,000 different titles included in the database, there are innumerable spelling variants, such as <i>Die Königinn des Rosenhayns,</i> and occasional gender inconsistencies, such as <i>Melite riconosciuta</i> and <i>Melite riconosciuto,</i> but the general policy is to give the title exactly as used by the composer and/or librettist.</p>

<p>Therefore, when you find two different titles, such as <i>Hans Max Giesbrecht von der Humpenburg</i> and <i>Hans Max Giesprecht von der Humpenburg</i> or <i>Don Juan de Mañara</i> and <i>Don Juan Maraña,</i> don't assume that you have found a typographical error.  On occasion the error might be intentional, as is the case with <i>Moses und Aron,</i> a casualty of Schoenberg's fear of the number thirteen.</p>

<p>If the title contains an article, as for example <i>Alidoro</i> and <i>L'Alidoro</i> or <i>Farnace</i> and <i>Il Farnace,</i> it is included although not alphabetized by it.</p>

<p>Conjunctions, prepositions, and contractions are generally retained as used.  For example, <i>Mario e il mago</i> and <i>Mario ed il mago</i> appear as separate titles in the database.</p>

<p>In the unique case of Metastasio, in order to more easily see which composers used a particular libretto, articles (if used only in one or two cases), prepositional variants, and shortened titles are not shown as separate entries.  For example, <i>La Zenobia</i> is consolidated with <i>Zenobia, Alessandro nelle Indie</i> becomes <i>Alessandro nell'Indie,</i> and <i>Didone</i> uses its full title, <i>Didone abbandonata.</i>  Not every title has been combined.  For example, <i>Olimpiade</i> with 28 entries and <i>L'Olimpiade</i> with 21 are listed separately.</p>
</div>
</div>

<div class="row">
    <div class="span9">
      <h2><a name="lib">Librettos/Sources</a></h2>

<p>When an obvious source such as Ariosto produced a working libretto from the poem, short story, novella, or novel in question, and even in the case of plays, dialogue would have been cut, characters deleted, choruses added, etc. to meet the different dramatic requirements of musical theater versus the spoken word, Chaucer, Shakespeare, Molière, Byron, Dostoyevsky, or Pushkin appears as librettist, this does not imply that the libretto is taken verbatim and unedited from the source.</p>

<p>The sole exception is <i>Kamennïy gost'</i> (<i>The Stone Guest</i>), an attempt by Dargomïzhsky to set to music every word of Pushkin's version of Don Juan.</p>

<p>It should also be noted that Voltaire, Hans Christian Andersen, Charles Dickens, and Jules Verne do not appear solely as sources, but actually to one degree or another tried the theater, a fact that should be no more surprising than Faulkner working for a time as a Hollywood screenwriter.</p>

<p>With the exception of Seneca and Apuleius, classical and biblical sources are not identified.  There is little need to cite Euripides for <i>Ifigenia in Aulide</i> or <i>Ifigenia in Tauride,</i> Kalidasa for <i>Sakuntala,</i> or Sophocles for <i>Oedipus der Tyrann, Oedipe à Colone, Oedip zu Colonos,</i> etc.</p>

<p>It is ill-advised to ascribe sources simply on the basis of a title.  While a story might ultimately derive from Livy, Plutarch, Dio Cassius, Josephus, etc., transmission would seldom have been direct, just as in the Middle Ages a quotation from Aulus Gellius or any other author, with the possible exception of Cicero, would almost invariably have come second-hand from some florilegium.</p>

<p>Later dramatizations of the story of Phaedra in Euripides's <i>Hippolytus</i> would as likely have been based on Seneca, and Racine used both in his <i>Phèdre</i> of 1667.  To cite only the original would mean that Matteo Bandello, not Shakespeare, was the source of all versions of <i>Romeo and Juliet.</i>  Likewise, Ariosto's <i>Orlando furioso</i> is a continuation of Matteo Maria Boiardo's unfinished <i>Orlando innamorato,</i> but Boiardo is never cited in the database.</p>

<p>Given no information, Dante is shown as the source for <i>Francesca da Rimini</i> and Boccaccio for <i>Griselda,</i> although any number of intermediaries, such as Silvio Pellico's <i>Francesca da Rimini</i> of 1815, could be possible direct or indirect influences.</p>

<p>As another example from French drama, Mellin de Saint-Gelais's 1536 adaptation of Giangiorgio Trissino's <i>La Sophonisba,</i> not Livy, was the primary source for Mermet in 1584, Antoine de Montchrestien in 1596 and 1601, Nicolas de Montreux in 1601, and Jean Mairet in 1634.  As stated in the au lecteur, Mairet, Montchrestien, and Trissino were the main sources for Pierre Corneille's <i>Sophonisbe</i> in 1663.</p>

<p>As for the dozen versions of <i>Sofonisba</i> produced on the operatic stage, it would be expected that they were no more faithful to Livy than was Corneille. Certainly, any educated person prior to the twentieth century would have read at least a portion of Livy in Latin, but historical verisimilitude does not necessarily conform to dramatic requirements, either as defined by the audience or by the once paramount academic concern for the three unities.</p>

<p>Similarly, literal adherence to a source was of little consequence to an eighteenth century audience demanding a happy ending in all cases, a notorious English example being Friar Lawrence saving both Romeo and Juliet at the last moment.  (The French genre of rescue opera that originated in the 1790's was perfectly characteristic of the sentimentality of the age.) </p>

<p>Additional notes:                                                              </p>

<p>1. Covarrubias is shown without any performance data, although his two works, if performed, would have premiered in Mexico.</p>

<p>2.  Moniuszko's <i>Sielanka</i> is shown in Grove Opera with a date of 1848 and no location.  It was performed in Minsk in 1852 but whether this was the premiere is unknown.</p>

<p>3.  Tasca, works in three parts or giornate by three composers, were commissioned for tasche, the election of the government of Lucca held every two or three years.  Structurally, giornate generally consisted of a sinfonia, a series of secco recitatives and arias, a chorus, and a concluding sinfonia.  Five tasca included in the database are classified as serenata, although arguably all could be.</p>

<p>The database gives two dates each for <i>Del Tarquinio Collatino, Dione Siracusano, Marco Manlio Capitolano,</i> and <i>Il Castruccio.</i>  To avoid any confusion about there being an error, these titles were used for tasche in different years.  For the first three Giacomo Puccini provided a giornate for each year.  Antonio Puccini did the same for <i>Il Castruccio.</i></p>

<p>As for including tasca in the database, since known collaborations are excluded, it should be noted that since each giornate was performed on separate days of tasche, each was presumably a separate composition written independently by each of the three composers involved.  A full discussion is found in Gabriela Biaga-Ravenni & Carolyn Gianturco, “The Tasche of Lucca: 150 Years of Political Serenatas” (<i>Proceedings of the Royal Music Association,</i> Vol. 111, 1984, pp. 45-65).</p>

<p>4.  Francis Lopez's <i>La canción del amor mio</i> is termed a zarzuela in <i>Teatro Español 1957-1958</i> (Aguilar, Madrid, 1959).  The database uses the operetta classification from Gänzl, although it should be noted that his librettist information (M. Brocey and Alvarez Quintero) is incorrect and no theater is given.</p>

<p>5.  Although a single work, <i>Jakob und Nannerl</i> is attributed separately to both Gerl and Schack in Grove Opera due to a recognized confusion in the sources.  It is not a collaboration.</p>

<p>6.  Wölffl's Fernand, <i>ou Les Maures</i> with libretto by Bussy premiered February 11, 1805 at the Salle Feydeau.  According to Grove Opera, a work with the same title by Blasius with libretto by Coffin-Rony opened at the Salle Favart that same evening.  Stieger confirms Wölffl, but makes no mention of the Blasius version.  While it is possible that Grove is correct, this work is not found in the list of titles attributed to Coffin-Rony in Jean-Marie Quérard's <i>La France Littéraire.</i>  The author is not even mentioned in Alexandre Cioranescu's <i>Bibliographie de La Littérature Française de Dix-Huitième Siècle</i> (Centre National de la Recherche Scientifique, Paris, 1969) nor is the title by any author found in the Bibliothèque nationale.</p>

<p>7.  Petrauskas's <i>Birute</i> was published in 1928 in Boston.  It was staged October 12, 1947 at the Sokol Auditorium in Chicago, but it is not known if this was the premiere.</p>

<p>8.  Zolotaryov's <i>Ak-Gyul</i> is shown in Grove Opera with a date of 1942 and no location.  The composer was in Leningrad during the siege, but this does not necessarily mean that <i>Ak-Gyul</i> was performed in the city in 1942.  It may have been, although Bogdanov-Berezovsky, then head of the Leningrad Composers' Union and composer of two operas with no performance information, flew to Moscow in July, 1942, to present works written during the siege -- whether his <i>Granitsa/Doch' Barmaka</i> of the previous year was included is unknown. Bogdanov-Berezovsky's trip plus the fact that Shostakovich completed his Seventh Symphony in Kuibyshev, where it was premiered March 5, 1942 and not performed in its namesake until August 9 (an historic event under the most difficult wartime circumstances), would make it appear unlikely that Leningrad was the site of any opera premiere at that time, particularly given that all personnel of the Kirov had been evacuated to Perm'.c. Given this uncertainty, both Ziehrer and Bachrich are credited with this work in the database.</p>
</div>
</div>

<div class="row">
    <div class="span9">
      <h2><a name="genres">Genres</a></h2>

<p>Distinguishing between an opera and an operetta and a musical is not an exact science.  The standard used here is that if Grove Opera says a work is a particular genre or subcategory, it is considered as such regardless of the opinion of any other authority.</p>

<p>If a work is not found in Grove, then the classification in <i>The British Musical Theatre</i> or <i>The Encyclopedia of the Musical Theatre,</i> both by Kurt Gänzl, is used.  If found in none of the above, the classification in Stieger's <i>Opernlexicon</i> is used.</p>

<p>Deciding which is correct is not the purpose of this database.</p>

<p>Some of the exclusions are:</p>

<p>1.  Zarzuela:  Left out since its influence was limited to Spain.  Each of the above categories crossed national boundaries to one degree or another, and Henri Hirschmann each using the term once, Offenbach, Louis Desormes, and Paul Henrion twice, and Charles Hubans three times (as was the case with Paul Bowles, none of these works are included), although only operetta was truly international in scope.  The single zarzuela by a non-Spaniard that is known to this database is by Paul Bowles, premiered in 1943 (not included on the list, although another work by him is included).  For similar reasons, another Spanish genre, saynète, is excluded, although it enjoyed a brief vogue in in France.</p>

<p>2.  Melodrama:  This refers to the German variety only, as largely developed by Georg Benda in the late eighteenth century.  It falls somewhere between incidental music and operetta.</p>

<p>3.  Posse:  These are Viennese cousins of the English burletta and like the English variety, were cranked out like sausages.  Direct descendants of the commedia dell' arte tradition and particularly English pantomine ala Charles Dibdin, possen are slapstick with musical accompaniment, not opera or operetta.  Also excluded are a host of subcategories such as Alpenszenen, Lebensbilden, Zeitgemalden, etc. that have no counterparts or meaning outside of Vienna or Berlin.</p>

<p>4.  Burletta:  Excluded for reasons just mentioned.</p>

<p>5.  Musicals:  The descendant of operetta, this is a category unto itself.  As for drawing the line between a musical and operetta, this is strictly subjective.  In some cases the classification was decided by the composer.  For example, Frank Loesser, Stephen Sondheim, and Claude-Michel Schönberg are not included in the database, although <i>The Most Happy Fella, Sweeney Todd,</i> and <i>Les Misérables</i> could all reasonably be classified as opera.  Their composers, no doubt with an eye on the box office, preferred to label their works musicals.</p>

<p>6.  Music Theater:  Not to be confused with musicals, this modern category, while often dramatic in both purpose and performance, is separate from opera.  It could be argued that since monodrama is included in the database, music theater is a modern variant of this form and also belongs, but such an argument could be extended to include a great many Baroque secular cantatas.</p>

<p>7.  Minor categories such as Belgian zangspel that crossed no borders and never really went anywhere even within their countries.</p>

<p>8.  Jesuit drama:  Although a forerunner of opera, particularly in Austria, its purpose was not entertainment.</p>

<p>9.  Chinese opera:  This is a specialty that lies outside the bounds of the Western operatic tradition, just as do Indonesian shadow plays or Kabuki.</p>

<p>10.  Neither opera seria nor its equally important eighteenth century antithesis, opera buffa, are specifically identified as such, although all works falling within either category are, of course, included in the database.  The rationale for this lack of specificity is:</p>

<p>A.  Many works only exist today as titles with no identification as to genre;</p>
        
<p>B.  In the case of opera seria, the title and/or librettist(s) should indicate if the work in question falls within the category.  This is not necessarily the case with buffa, since a title without documentation may be a farce or a parody instead of buffa (which naturally brings up the question of how to distinguish between comedic subcategories).</p>

<p>11.  Also included without specific classification are categories such as festa teatrale (essentially a serenata, but not identified as such in the database -- the term is found only in the seventeenth and early eighteenth centuries and then only in connection with works performed before the Hapsburg court, most notably in the case of Antonio Draghi) and ballad opera.</p>
</div>
</div>

<div class="row">
    <div class="span9">
      <h2><a name="oratorios">Oratorios</a></h2>

<p>Establishing a clear dividing line between oratorio and cantata is an admitted impossibility.  The protocol used in this database is to accept the classification found in the <i>New Grove</i> and Franz Stieger's <i>Opernlexicon</i> or, if not found in either, then that given by whatever library has a physical copy in their catalogue. The original release of this database in 2003 contained every work termed an oratorio found in Grove, Stieger, Smithers, and the online catalogues of the Library of Congress, the British Library, the Bibliothèque nationale de France, the union catalogues for Germany and Italy, and the national libraries of Denmark, Sweden, Spain, Portugal, Belgium, the Netherlands, Poland, the Czech Republic, Brazil, etc.</p> 

<p>The standard reference on hagiography, aside from the Acta Sanctorum, remains Butler's <i>Lives of the Saints,</i> now in a third edition released in 2000 (Burns & Oates in the UK and The Liturgical Press, St. John's Abbey, Collegeville, MN in the US).  An excellent supplement for saints not included in Butler's is John J. Delaney & James Edward Tobin <i>Dictionary of Catholic Biography</i> (Doubleday & Co., Garden City, NY, 1961).  A short guide to patron saints is Annette Sandoval’s <i>The Directory of Saints</i> (Dutton, New York, 1996).  An easy-to-use guide to iconography is George Ferguson <i>Signs and Symbols in Christian Art</i> (Oxford University Press, New York, 1971).  This is admittedly outside the scope of oratorio, but nonetheless it contains much information that may prove both interesting and useful.  Other helpful sources are Paul J. Achtemeier, editor, <i>Harper's Bible Dictionary</i> (Harper & Row, 1985) and F.L. Cross & E.A. Livingstone, editors, <i>The Oxford Dictionary of the Christian Church 2nd ed.</i> (Oxford University Press, 1974). No attempt was made in the database to provide full information for saints' lives.  Aside from potential copyright violation, it was felt that there was little purpose in retyping information readily available in Butler's and other sources.</p> 
</div>
</div>

<div class="row">
    <div class="span9">
      <h2><a name="theaters">Theaters</a></h2>

<p>The general rule is to name the theater where a premiere took place, not the organization giving the performance.  (By theater, it must be understood that this refers to the venue and can range from a private home to an outdoor tent -- it does not refer to an actual theater.  Included as theaters are radio broadcasts.)  The other rule is to always use the current name for a theater.</p>

<p>This means that the Kirov is shown as the Teatr Opernïy imeni S. M. Kirova.  The Kirov, of course, under the Tsars was the Mariinsky Teatr.  This is mentioned because unlike cities and countries in which only the modern name is used, the proper name of a theater at the time of a premiere is the name given in the database.</p>

<p>As for alternate names and nicknames, there would be little confusion referring to the Paris Opéra as the Palais Garnier or the Königlich Sächsisches Hoftheater in Dresden as the Semperoper, but even these familiar names are not used.</p>

<p>Were they used and you wished to know what was premiered at the Paris Opéra, you would have to first look up the Opéra and then the Palais Garnier, a useless two part search that is far better accomplished in a single step.  This would also assume that you knew what the Palais Garnier was and the date it opened (two hundred years after Lully created the Académie Royale). </p>

<p>Correct theater names are another problem.  The same theater may have had several names at once, including nicknames, all of which may be used randomly in the sources available to you.  Without an intimate knowledge of some rather arcane trivia, you have no way of knowing whether you are looking at three theaters or the same theater with three different names.  For example, if you found Spelta listed as a theater in Modena, would you know that this was an alternative seventeenth century name for the Teatro Ducale di Piazza?  This database solves that problem by using only the proper name for every theater and, more importantly, using the same name every time.</p>

<p>Among the exceptions to note:</p>

<p>1.  The Paris Opéra is always referred to as the Opéra, never as the Académie Royale or by the theater in which it performed.  The Palais Garnier was just one of fifteen theaters involved in its three centuries of existence.</p>

<p>2.  Although the name Comédie-Italienne is interchangeable with Opéra-Comique throughout the 1780s and '90s, the convention in this database is to use Opéra-Comique only after the merger of the Théâtre Favart and Théâtre Feydeau in 1801 due to financial necessity.</p>

<p>The Comédie-Italienne was resident in the Hôtel de Bourgogne (the oldest Parisian theater, built in 1548 by the Confrères de la Passion, a fraternity of merchants and artisans) prior to the construction of the original Théâtre Favart (the first of three).</p>

<p>3.  All court-subsidized opera in Berlin after 1806 is listed in the database as the Königliche Schauspiele, which was not a theater but the result of the merger of the Hofoper and the Nationaltheater that year.  No distinction is made between the Königliches Opernhaus (Lindenoper) and Schauspielhaus.</p>

<p>4.  Although the city theater in Leipzig was not known as the Altes Stadttheater until after the opening of the Neues Stadttheater in 1867, the database always refers to it as such to maintain continuity, since both theaters remained in operation long after that date.</p>

<p>5.  The New York City Opera is always referred to as such, although it began as the City Center Opera in the former Mecca Temple and twenty years later changed its name after moving to the New York State Theater in Lincoln Center.  If you were unfamiliar with the two theaters with which it has been connected, City Center and the New York State Theater would give no indication that both referred to the New York City Opera.</p>
</div>
</div>

<div class="row">
    <div class="span9">
      <h2><a name="premiere">Premiere Status</a></h2>

<p>Revisions, pastiches, and collaborations are excluded from the list.</p>

<p>Included are works completed by another after a composer's death.  The work is always attributed to the composer who started it, not to whomever completed it.  For example, <i>Der drei Pintos</i> is not attributed to Weber-Mahler, although it was completed long after Weber's death by Mahler and is largely his work.</p>

<p>Although a work must have been performed to be included, the only works excluded are those known definitely never to have been performed.  If there is uncertainty but other works by the composer are known to have been performed, the title is included with no date or location given.  There are 235 undated entries in the database and 637 have no location information.</p>

<p>As for what qualifies as a performance, there is no requirement that the work be staged.  In the case of radio operas, there certainly was no staging involved.  Concert performances are treated as a premiere, even if the work were later staged.</p>

<p>Symphonic excerpts are not considered a performance (for example, <i>Moby Dick</i> by Armando Gentilucci performed in Milan by the RAI Orchestra on March 29, 1990 -- neither the work nor the composer is included in the database).</p>

<p>Deciding which is the actual premiere occasionally presents difficulties, particularly in works meant for Broadway.  By musical theater standards, an American premiere is always in New York, not in preview on the road, but this database has different criteria.</p>

<p>By giving the premiere as the first performance anywhere (rehearsals are not considered to be performances), the list includes some works meant for Broadway that never got there, for example, an opera by Vernon Duke that opened and closed in San Francisco.  It was performed, so by the standards of the present database it qualifies for inclusion on the list. If your interest is Vernon Duke, you will at least know that the work exists. </p>

    </div>
    </div>
<div class="row">
    <div class="span9">
      <h2><a name="bib">Selected Resources</a></h2>
      <p><a href="http://searchworks.stanford.edu/view/333414" target="_blank">Dahlhaus, Carl, Sieghart Döhring, and Uwe Steffen. <i>Pipers Enzyklopädie Des Musiktheaters : Oper, Operette, Musical, Ballet.</i> München: Piper, 1986.</a></p>
 	  <p><a href="http://searchworks.stanford.edu/view/322621" target="_blank">Gänzl, Kurt. <i>The British Musical Theatre.</i> New York: Oxford University Press, 1986.</a></p>
 	  <p><a href="http://searchworks.stanford.edu/view/2891211" target="_blank">Gänzl, Kurt. <i>The Encyclopedia of the Musical Theatre.</i> American ed. New York: Schirmer Books , 1994.</a></p>
      <p><a href="http://searchworks.stanford.edu/view/1467523" target="_blank">Grove, George, and Stanley Sadie. <i>The New Grove Dictionary of Music and Musicians.</i> Washington, D.C.: Grove's Dictionaries of Music, 1980.</a></p>
      <p><a href="http://searchworks.stanford.edu/view/1430560" target="_blank">Gruber, Clemens Maria. <i>Opern-uraufführungen : Ein Internationales Verzeichnis Von Der Renaissance Bis Zur Gegenwart.</i> Wien: Gesellschaft für Musiktheater, 1978.</a></p>
      <p><a href="http://searchworks.stanford.edu/view/722396" target="_blank"><i>The London Stage, 1660-1800: a Calendar of Plays, Entertainments & Afterpieces, Together with Casts, Box-receipts and Contemporary Comment.</i> [1st ed.] Carbondale: Southern Illinois University Press, 1960.</a></p>
      <p><a href="http://searchworks.stanford.edu/view/5405215" target="_blank">Norton, Richard C. <i>A Chronology of American Musical Theater.</i> New York: Oxford University Press, 2002.</a></p>
      <p><a href="http://searchworks.stanford.edu/view/534747" target="_blank">Odell, George Clinton Densmore. <i>Annals of the New York Stage.</i> New York: Columbia University Press, 1927.</a></p>
      <p><a href="http://searchworks.stanford.edu/view/2173959" target="_blank">Sadie, Stanley. <i>The New Grove Dictionary of Opera.</i> London: Macmillan Press , 1992.</a></p>
      <p><a href="http://searchworks.stanford.edu/view/1457617" target="_blank">Stieger, Franz. <i>Opernlexikon.</i> Tutzing: Hans Schneider, 1975.</a></p>
 	  <p><a href="http://searchworks.stanford.edu/view/887769" target="_blank">Wearing, J. P. <i>The London Stage, 1890-1899 : a Calendar of Plays and Players.</i> Metuchen, N.J. : Scarecrow Press, 1976. [subsequent volumes cataloged separately]</a></p>    
</div>
</div>
  </div>
	
</div>