<h4>Welcome to Opening Night!</h4>
<p>&nbsp;</p>
<p>This application is a cross-index of data for over 38,000 opera and oratorio premieres.  Originally compiled by Richard Parrillo, entries include works that received a public performance between the years 1589-1995. With your help we hope to continue to add entries for new premieres in both genres.</p>
<p>Browse within any category, or conduct complex searches by combining search terms with one or more of the categories in the left column. </p>
<p>Sort results by relevance, composer, title, or year. Bookmark citations to send via email.</p>
<p>Search words are truncated (e.g., a search for “car” will find Card, Carlo, Carmen, etc.)</p>
<p>Review the source notes for detailed descriptions for each category, including content parameters and exceptions, and notes on forms of personal and geographical name entries.</p>
<p>Follow the Searchworks links to find related scores, recordings and books in Stanford’s library catalog. For the most complete results, you may wish to search directly in the SearchWorks catalog using alternate forms of the work title.</p>
<% #Creates a bit space in the page -%>

