<div id="sidebar" class="span3">
  <div id="sidebar-nav">
    <ul class="nav nav-list affix">
      <li class="nav-header"><%=t('d2g.nav.about')%></li>
      <li><%= link_to t('About Opening Night!'), '#about' %></li>
      <li><%= link_to t('New Entries, Comments, and Corrections'), '#new' %></li>
      <li><%= link_to t('Acknowledgements'), '#acknowledgements' %></li>
    </ul>
  </div>
</div>
