<%= render :partial => 'show_about_sidebar' unless @no_nav%>

<div id="content" class="span9 about-content">
<div class="row">
    <div class="span9">
      <h2><a name="about">About Opening Night!</a></h2>
      <p>Opening Night! Is a cross-index of data for over 38,000 opera and oratorio premieres, which were originally presented in the database originally titled, <a href="http://searchworks.stanford.edu/view/9102178" target="_blank">"From Don to Giovanni: Opera and Oratorio Citation Database".</a></p> 

	<p>Browse within any category, or conduct complex searches by combining search terms with one or more of the categories in the left column.<p> 

	<p>Sort results by relevance, composer, title, or year. Bookmark citations to send via email.</p>

	<p>Search words are truncated (e.g., a search for “car” will find Card, Carlo, Carmen, etc.)</p>

	<p>Source notes provide detailed descriptions for each category, including content parameters and exceptions, and notes on forms of personal and geographical name entries.</p>

	<p>Follow the Searchworks links to find related scores, recordings and books in Stanford’s library catalog. For the most complete results, you may wish to search directly in the SearchWorks catalog using alternate forms of the work title.</p>
    </div>
    </div>
<div class="row">
    <div class="span9">
      <h2><a name="new">New Entries, Comments, and Corrections</a></h2>
<p>The original database, compiled by Richard Parrillo, spanned the years 1589-1995. With your assistance we hope to continue to add entries for operas and oratorios on a semi-annual basis.<p>
<p>New entries may be submitted via the <a href="http://operadata.stanford.edu/submit">"Submit a Premiere" link</a>. Please note that documentation of the source of your information is required, in the form of a bibliographical citation to a published resource. Alternately, you may upload a scanned image of a concert program that includes the work title, composer name, date and place of the premiere.</p>
<p>Corrections to existing data, and comments on individual entries, may be submitted using the <a href="http://operadata.stanford.edu/report">"Report a Problem" link</a> at the top right. Please note that documentation of the source of your information is required, in the form of a bibliographical citation to a published resource. Corrections to existing data will be made following verification by Stanford staff. Comments are vetted and may be added to the individual item screens.</p>
</div>
</div>
<div class="row">
<div class="span9">
      <h2><a name="acknowledgements">Acknowledgements</a></h2>
      <p>The following Stanford University Libraries staff played important roles in the creation of this resource:
      <dl class="project-team dl-horizontal">
      <dt>Richard Parrillo</dt>
      <dd>Donor and Creator of <i>From Don to Giovanni Opera and Oratorio Citation Database</i>, upon which this web application was designed</dd>
      </dl>
      <dl class="project-team dl-horizontal">
      <dt>Jerry McBride</dt>
      <dd>Head Librarian, Music Library</dd>
      </dl>
      <dl class="project-team dl-horizontal">
      <dt>Keith Bisaillon</dt>
      <dd>Data Analysis</dd>
      <dt>Ray Heigemeir</dt>
      <dd>User Experience Designer</dd>
      <dt>Jacqueline Hettel</dt>
      <dd>Data Analysis/Web Application Developer/User Experience Designer</dd>
	  <dt>Nancy Lorimer</dt>
	  <dd>Metadata Specialist</dd>
	  </dl>
      <p>We would also like to thank the following individuals for their help and support throughout the development of this project:</p>
      <ul class="project-team">
      <li>Stanford University Libraries staff: Chris Bourg, and Glen Worthey;</li> 
      <li>Stanford University Libraries, Digital Libraries Systems and Services staff: Ben Albritton, Cathy Aster, Christopher Beer, Tom Cramer, Jessie Keck, Willy Mene, and Bess Sadler.</li>
      </ul>
      <p>Chromolithographic plate from <i>Opern-Tÿpen</i> (Berlin: G. Kölle, 1882) depicting Carmen and Escamillo in Act IV of Bizet’s <i>Carmen</i>.<p>
<p>Image Digitized by Ray Heigemeir/Stanford University Libraries</p>
</div>
</div>
</div>
